*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F0F3F5;
}

.App{
  display: flex;
  flex-direction: row;
}

.left-side{
  /* flex:1; */
}

.right-side{
  flex: 3;
}
.mobile-menu{
  display: none;
}
.mobile-menu-container{
  position: absolute;
  top:0;
  left:0;
  z-index: 100;
}

.close-svg{
  position: absolute;
  z-index: 200;
  top: 0;
  left:0;
}

@media(max-width:990px){
  .left-side{
    display: none;
  }
  .mobile-menu{
    display: flex;
    position: absolute;

    padding: 2rem;
  }
  .scale-up-hor-left {
    -webkit-animation: scale-up-hor-left 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-hor-left 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  .mobile-sidebar{


    
  }
  @-webkit-keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
}